<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Spawning cameras -->
  <arg name="c_P" value="0.3490658503988659" /> <!-- pi/9 -->

  <group ns="cam1">
    <arg name="c1_Y" value="3.141592653589793" /> <!-- pi -->
    <node name="cam_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model cam1 -file $(find vision_control_cdpr)/sdf/camera.sdf -x 2 -y 0. -z 4 -R 0 -P $(arg c_P) -Y $(arg c1_Y)" />
  </group>

  <group ns="cam2">
    <arg name="c2_Y" value="-1.5707963267948966" /> <!-- -pi/2 -->
    <node name="cam_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model cam2 -file $(find vision_control_cdpr)/sdf/camera.sdf -x 0 -y 2. -z 4 -R 0 -P $(arg c_P) -Y $(arg c2_Y)" />
  </group>

  <group ns="cam3">
    <node name="cam_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model cam3 -file $(find vision_control_cdpr)/sdf/camera.sdf -x -2 -y 0 -z 4 -R 0 -P $(arg c_P) -Y 0.0" />
  </group>
  
  <group ns="cam4">
    <arg name="c4_Y" value="1.5707963267948966" /> <!-- pi/2 -->
    <node name="cam_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model cam4 -file $(find vision_control_cdpr)/sdf/camera.sdf -x 0 -y -2 -z 4 -R 0 -P $(arg c_P) -Y $(arg c4_Y)" />
  </group>

</launch>
