<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Spawning camera -->
  <arg name="c_P" value="0.3490658503988659" /> <!-- pi/9 -->

  <group ns="cam1">
    <arg name="c1_Y" value="3.141592653589793" /> <!-- pi -->
    <node name="cam_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model cam1 -file $(find vision_control_cdpr)/sdf/camera.sdf -x 6 -y 0. -z 4 -R 0 -P $(arg c_P) -Y $(arg c1_Y)" />
  </group>

</launch>
